<h1>Networks</h1>

<h2>Reseau AD</h2>
<!--Définition du tableau-->
<table mat-table id="NetworkAD_Id" [dataSource]="dataSource">
    <!--Définition de la colonne "NetworkName"-->
    <ng-container matColumnDef="NetworkName">
        <th mat-header-cell *matHeaderCellDef> Network Name </th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkName}} </td>
      </ng-container>
    <!--Définition de la colonne "NetworkId"-->
    <ng-container matColumnDef="NetworkId">
        <th mat-header-cell *matHeaderCellDef> Network Id   </th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkId}} </td>
    </ng-container>    
    <!--Définition de la colonne "NetworkAddress"-->
    <ng-container matColumnDef="NetworkAddress">
        <th mat-header-cell *matHeaderCellDef> Network Address</th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkAddress}} </td>
    </ng-container>
    <!--Définition de la colonne "NetworkGateway"-->
    <ng-container matColumnDef="NetworkGateway">
        <th mat-header-cell *matHeaderCellDef> Network Gateway </th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkGateway}} </td>
    </ng-container>
    <!--Définition de la colonne "Update"-->
    <ng-container matColumnDef="Update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let network"> 
            <button mat-raised-button color="primary" (click)="onUpdate(network)">Update</button>
        </td>
    </ng-container>

    <!--Définition de la colonne "Delete"-->
    <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let network"> 
            <button mat-raised-button color="warn" (click)="onDelete(network)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>


</table>

<br>
<h2>Reseau DI</h2>

<!--Définition du tableau-->
<table mat-table id="NetworkDI_Id" [dataSource]="dataSource">
    <!--Définition de la colonne "NetworkName"-->
    <ng-container matColumnDef="NetworkName">
        <th mat-header-cell *matHeaderCellDef> Network Name </th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkName}} </td>
      </ng-container>
    <!--Définition de la colonne "NetworkId"-->
    <ng-container matColumnDef="NetworkId">
        <th mat-header-cell *matHeaderCellDef> Network Id   </th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkId}} </td>
    </ng-container>    
    <!--Définition de la colonne "NetworkAddress"-->
    <ng-container matColumnDef="NetworkAddress">
        <th mat-header-cell *matHeaderCellDef> Network Address</th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkAddress}} </td>
    </ng-container>
    <!--Définition de la colonne "NetworkGateway"-->
    <ng-container matColumnDef="NetworkGateway">
        <th mat-header-cell *matHeaderCellDef> Network Gateway </th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkGateway}} </td>
    </ng-container>
    <!--Définition de la colonne "Update"-->
    <ng-container matColumnDef="Update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let network"> 
            <button mat-raised-button color="primary" (click)="onUpdate(network)">Update</button>
        </td>
    </ng-container>

    <!--Définition de la colonne "Delete"-->
    <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let network"> 
            <button mat-raised-button color="warn" (click)="onDelete(network)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>


</table>

<br>
<h2>Reseau DE</h2>

<!--Définition du tableau-->
<table mat-table id="NetworkDE_Id" [dataSource]="dataSource">
    <!--Définition de la colonne "NetworkName"-->
    <ng-container matColumnDef="NetworkName">
        <th mat-header-cell *matHeaderCellDef> Network Name </th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkName}} </td>
      </ng-container>
    <!--Définition de la colonne "NetworkId"-->
    <ng-container matColumnDef="NetworkId">
        <th mat-header-cell *matHeaderCellDef> Network Id   </th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkId}} </td>
    </ng-container>    
    <!--Définition de la colonne "NetworkAddress"-->
    <ng-container matColumnDef="NetworkAddress">
        <th mat-header-cell *matHeaderCellDef> Network Address</th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkAddress}} </td>
    </ng-container>
    <!--Définition de la colonne "NetworkGateway"-->
    <ng-container matColumnDef="NetworkGateway">
        <th mat-header-cell *matHeaderCellDef> Network Gateway </th>
        <td mat-cell *matCellDef="let network"> {{network.NetworkGateway}} </td>
    </ng-container>
    <!--Définition de la colonne "Update"-->
    <ng-container matColumnDef="Update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let network"> 
            <button mat-raised-button color="primary" (click)="onUpdate(network)">Update</button>
        </td>
    </ng-container>

    <!--Définition de la colonne "Delete"-->
    <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let network"> 
            <button mat-raised-button color="warn" (click)="onDelete(network)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>


</table>
